<!DOCTYPE html>
<html lang="en">

	<head>
		<meta name="description" content="hoops">
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title>Hoops: NBA Basketball Simulation and Prediction Engine</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		
		<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
     
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css" rel="stylesheet">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

		<link href="{{ static('favicon.ico') }}" rel="shortcut icon">
        <link href="{{ static('styles.css') }}" rel="stylesheet">

		<!-- some jQuery to get elements to fade away -->
		<!--
		<script>
        window.setTimeout(function() {
  			$("#alert_message").fadeTo(500, 0).slideUp(500, function(){
    			$(this).remove(); 
  				});
			}, 3000);
		</script>
		-->
	</head>
	
	<body>
				
		<div class="container">

			<div class="header clearfix">
				<nav class="navbar navbar-default navbar-fixed-top" align="center" id="header">

			        <a href="{{ url_for('index') }}">H<span class="fa fa-dribbble"></span><span class="fa fa-dribbble fa-rotate-270"></span>ps</a>

		    	</nav>
			</div>

	
			<!-- content -->
			

            {% block content %}
            {% endblock %}
			

		
			<div class="header clearfix">
			<nav class="navbar navbar-default navbar-fixed-bottom" align="center">

				<div class="navbar" id="footer">
					All trademarks are copyright their respective owners
				</div>

		    </nav>
		    </div>

		</div>

		<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	
	
	</body>

</html>