{% from "util.html" import render_field %}

{% extends "base.html" %}

{% block content %}
<br>
            <div class ="row">

                {% for message in get_flashed_messages() %}
                <div id="alert_message" class="alert alert-success" align="center"><h2>{{ message }}</h2></div>
                {% endfor %}

            </div>


            <div class="row">
                
                {% for team in teams %}
                <div class="col-xs-6 col-sm-4 col-md-3">
                    <div class="thumbnail_container">
                        <div class="thumbnail">
                            <a href="#">
                                    <img src="{{ url_for('static', filename = 'images/logos/' ~ team.TEAM_ID ~ '.svg') }}">
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
                                 

            </div>

{% endblock %}